/* =========
Your custom styles go here
 ========= */
.searchbar{
  background: transparent;
  padding: 0;
}

.searchbar input[type=search] {
  background-color: #ededed;
}

.page{
  background-color: #fff;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.page.cached {
    display: block;
}